---
# cspell:ignore htmlmin inlinehilite materialx prebuild pymdownx superfences twemoji
site_name: AlesInfiny Maia OSS Edition
site_url: https://maia.alesinfiny.org/
docs_dir: contents
copyright: 'Copyright &copy; 2023 BIPROGY Inc. All rights reserved.'
site_author: 'AlesInfiny Maia OSS Edition コミュニティ'
site_description: 'AlesInfiny Maia OSS Edition のポータルサイトです。'
site_dir: build-artifacts
repo_name: AlesInfiny/maia
repo_url: https://github.com/AlesInfiny/maia
edit_uri: edit/main/documents/contents/

# yamllint disable rule:comments-indentation
nav:
  - AlesInfiny Maia OSS Edition にようこそ:
      - index.md
  - アプリケーションアーキテクチャ:
      - app-architecture/index.md
      - 概要編:
          - app-architecture/overview/index.md
          - 構築できるアプリケーション形態: app-architecture/overview/application-kind.md
          - AlesInfiny Maia OSS Edition を構成するもの: app-architecture/overview/compositions.md
          - 推奨するリポジトリ構造: app-architecture/overview/repository-structure.md
          - Java アプリケーションの処理方式:
              - app-architecture/overview/java-application-processing-system/index.md
              - 例外処理方針: app-architecture/overview/java-application-processing-system/exception-handling-policy.md
              - ログ出力方針: app-architecture/overview/java-application-processing-system/logging-policy.md
              - メッセージ管理方針: app-architecture/overview/java-application-processing-system/message-management-policy.md
              - 入力値検証方針: app-architecture/overview/java-application-processing-system/input-validation-policy.md
              - トランザクション管理方針: app-architecture/overview/java-application-processing-system/transaction-management.md
              - ヘルスチェック機能の方針: app-architecture/overview/java-application-processing-system/health-check-policy.md
              - 認証・認可方針: app-architecture/overview/java-application-processing-system/authentication-and-authorization-policy.md
          - Java アプリケーションのアーキテクチャ選定基準: app-architecture/overview/java-application-architecture-selection-guideline.md
      - クライアントサイドレンダリング編:
          - app-architecture/client-side-rendering/index.md
          - CSR アーキテクチャ概要: app-architecture/client-side-rendering/csr-architecture-overview.md
          - 全体処理方式:
              - app-architecture/client-side-rendering/global-function/index.md
              - 例外処理方針: app-architecture/client-side-rendering/global-function/exception-handling.md
              - ログ出力方針: app-architecture/client-side-rendering/global-function/logging-policy.md
              - メッセージ管理方針: app-architecture/client-side-rendering/global-function/message-management-policy.md
              - 入力値検査方針: app-architecture/client-side-rendering/global-function/validation-policy.md
              - ヘルスチェック機能の方針: app-architecture/client-side-rendering/global-function/health-check-policy.md
              - ストア設計方針: app-architecture/client-side-rendering/global-function/store-design-policy.md
              - 認証・認可方針: app-architecture/client-side-rendering/global-function/authentication-and-authorization-policy.md
          - フロントエンドアプリケーションのアーキテクチャ:
              - app-architecture/client-side-rendering/frontend-application/index.md
          - バックエンドアプリケーションのアーキテクチャ:
              - app-architecture/client-side-rendering/backend-application/index.md
              - アプリケーションコア層: app-architecture/client-side-rendering/backend-application/application-core.md
              - プレゼンテーション層: app-architecture/client-side-rendering/backend-application/presentation.md
              - インフラストラクチャ層: app-architecture/client-side-rendering/backend-application/infrastructure.md
          - テスト方針:
              - app-architecture/client-side-rendering/test/index.md
              - バックエンドアプリケーションのテスト:
                  - app-architecture/client-side-rendering/test/backend-application/index.md
                  - 単体テスト ( UT0 ): app-architecture/client-side-rendering/test/backend-application/unit-test.md
                  - 結合テスト ( ITa ): app-architecture/client-side-rendering/test/backend-application/integration-test.md
      - サーバーサイドレンダリング編:
          - app-architecture/server-side-rendering/index.md
          - SSR アーキテクチャ概要: app-architecture/server-side-rendering/ssr-architecture-overview.md
          - 全体処理方式:
              - app-architecture/server-side-rendering/global-function/index.md
              - 例外処理方針: app-architecture/server-side-rendering/global-function/exception-handling.md
              - ログ出力方針: app-architecture/server-side-rendering/global-function/logging-policy.md
              - メッセージ管理方針: app-architecture/server-side-rendering/global-function/message-management-policy.md
              - 入力値検査方針: app-architecture/server-side-rendering/global-function/validation-policy.md
              - ヘルスチェック機能の方針: app-architecture/server-side-rendering/global-function/health-check-policy.md
              - 認証・認可方針: app-architecture/server-side-rendering/global-function/authentication-and-authorization-policy.md
          - フロントエンドのアーキテクチャ:
              - app-architecture/server-side-rendering/frontend/index.md
          - バックエンドのアーキテクチャ:
              - app-architecture/server-side-rendering/backend/index.md
              - アプリケーションコア層: app-architecture/server-side-rendering/backend/application-core.md
              - プレゼンテーション層: app-architecture/server-side-rendering/backend/presentation.md
              - インフラストラクチャ層: app-architecture/server-side-rendering/backend/infrastructure.md
      - バッチアプリケーション編:
          - app-architecture/batch-application/index.md
          - バッチアプリケーションの概要: app-architecture/batch-application/batch-application-overview.md
          - バッチアプリケーションのアーキテクチャ: app-architecture/batch-application/batch-application-architecture.md
          - バッチアプリケーションの検討事項:
              - app-architecture/batch-application/batch-application-consideration/index.md
              - バッチアプリケーションの起動に時間がかかる: app-architecture/batch-application/batch-application-consideration/reduced-startup-time.md
              - メタデータテーブルの必要性について: app-architecture/batch-application/batch-application-consideration/without-using-meta-data-table.md
          - バッチアプリケーションのテスト戦略:
              - app-architecture/batch-application/batch-application-test-policy/index.md
              - 結合テスト: app-architecture/batch-application/batch-application-test-policy/integration-test.md
      - アプリケーションセキュリティ編:
          - app-architecture/security/index.md
          - CSRF （クロスサイト・リクエスト・フォージェリ）: app-architecture/security/csrf.md
          - XSS （クロスサイト・スクリプティング）: app-architecture/security/xss.md
  # - クックブック:
      # - 目次: cook-book/index.md
      # - 帳票印刷: cook-book/~~~
  - ガイド:
      - guidebooks/index.md
      - アプリケーション開発手順:
          - guidebooks/how-to-develop/index.md
          - CSR 編:
              - guidebooks/how-to-develop/csr/index.md
              - Java 編:
                  - guidebooks/how-to-develop/csr/java/index.md
                  - 事前準備: guidebooks/how-to-develop/csr/java/preparation.md
                  - アプリケーションの全体構造: guidebooks/how-to-develop/csr/java/application-structure.md
                  - プロジェクトの雛型作成: guidebooks/how-to-develop/csr/java/create-project.md
                  - プロジェクトの共通設定: guidebooks/how-to-develop/csr/java/common-project-settings.md
                  - サブプロジェクトの個別設定:
                      - guidebooks/how-to-develop/csr/java/sub-project-settings/index.md
                      - web プロジェクトの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/web-project-settings.md
                      - infrastructure プロジェクトの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/infrastructure-project-settings.md
                      - application-core プロジェクトの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/application-core-project-settings.md
                      - batch プロジェクトの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/batch-project-settings.md
                      - system-common プロジェクトの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/system-common-project-settings.md
                      - プラグイン、依存ライブラリのバージョン定義一元化: guidebooks/how-to-develop/csr/java/sub-project-settings/project-version-control.md
                      - メッセージ管理機能の設定: guidebooks/how-to-develop/csr/java/sub-project-settings/message-management.md
                      - 集約例外ハンドラーの設定: guidebooks/how-to-develop/csr/java/sub-project-settings/exception-handling.md
                      - MyBatis Generator の設定: guidebooks/how-to-develop/csr/java/sub-project-settings/mybatis-generator-settings.md
              - Vue.js 編:
                  - guidebooks/how-to-develop/csr/vue-js/index.md
                  - 事前準備: guidebooks/how-to-develop/csr/vue-js/preparation.md
                  - ブランクプロジェクトの作成: guidebooks/how-to-develop/csr/vue-js/create-vuejs-blank-project.md
                  - ブランクプロジェクトのフォルダー構造: guidebooks/how-to-develop/csr/vue-js/folder-structure-of-blank-project.md
                  - ワークスペースの設定: guidebooks/how-to-develop/csr/vue-js/setting-workspaces.md
                  - プロジェクトの共通設定: guidebooks/how-to-develop/csr/vue-js/project-settings.md
                  - 開発に使用するパッケージ: guidebooks/how-to-develop/csr/vue-js/optional-packages.md
                  - 静的コード分析とフォーマット: guidebooks/how-to-develop/csr/vue-js/static-verification-and-format.md
                  - メッセージ管理機能の設定: guidebooks/how-to-develop/csr/vue-js/message-management.md
                  - 入力値検証: guidebooks/how-to-develop/csr/vue-js/input-validation.md
                  - Open API 仕様書からのクライアントコード生成: guidebooks/how-to-develop/csr/vue-js/create-api-client-code.md
                  - エラーハンドラーの設定: guidebooks/how-to-develop/csr/vue-js/error-handler-settings.md
                  - カスタムエラーの設定: guidebooks/how-to-develop/csr/vue-js/custom-error-settings.md
                  - イベントハンドリングの設定: guidebooks/how-to-develop/csr/vue-js/event-handling-settings.md
                  - モックモードの設定: guidebooks/how-to-develop/csr/vue-js/mock-mode-settings.md
                  - CSS の設定と CSS フレームワークの適用: guidebooks/how-to-develop/csr/vue-js/css.md
              - ローカル開発環境の構築:
                  - guidebooks/how-to-develop/csr/local-environment/index.md
              - CORS 環境の構築:
                  - guidebooks/how-to-develop/csr/cors/index.md
                  - Cookie の設定: guidebooks/how-to-develop/csr/cors/cookie.md
          - SSR 編:
              - guidebooks/how-to-develop/ssr/index.md
              - Java 編:
                  - guidebooks/how-to-develop/ssr/java/index.md
                  - 事前準備: guidebooks/how-to-develop/ssr/java/preparation.md
                  - アプリケーションの全体構造: guidebooks/how-to-develop/ssr/java/application-structure.md
                  - プロジェクトの雛型作成: guidebooks/how-to-develop/ssr/java/create-project.md
                  - プロジェクトの共通設定: guidebooks/how-to-develop/ssr/java/common-project-settings.md
                  - サブプロジェクトの個別設定:
                      - guidebooks/how-to-develop/ssr/java/sub-project-settings/index.md
                      - web プロジェクトの設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/web-project-settings.md
                      - 機能モジュールのプロジェクトの設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/function-module-project-settings.md
                      - system-common プロジェクトの設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/system-common-project-settings.md
                      - プラグイン、依存ライブラリのバージョン定義一元化: guidebooks/how-to-develop/ssr/java/sub-project-settings/project-version-control.md
                      - メッセージ管理機能の設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/message-management.md
                      - 集約例外ハンドラーの設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/exception-handling.md
                      - MyBatis Generator の設定: guidebooks/how-to-develop/ssr/java/sub-project-settings/mybatis-generator-settings.md
              - ローカル開発環境の構築:
                  - guidebooks/how-to-develop/ssr/local-environment/index.md
      # - 規約:
      #     - guidebooks/conventions/index.md このページができるまで、コーディング規約を一段上のメニューに配置している。
      - コーディング規約: guidebooks/conventions/coding-conventions.md
  - サンプル解説:
      - samples/index.md
      - CSR アプリケーション:
          - samples/dressca/index.md
          - Azure Active Directory B2C を利用したユーザー認証:
              - samples/dressca/azure-ad-b2c/index.md
              - MSAL.js で提供される秘密情報のキャッシュ保存先: samples/dressca/azure-ad-b2c/azure-ad-b2c-consideration.md
          - Microsoft Entra External ID を利用したユーザー認証:
              - samples/dressca/external-id-sample-for-spa/index.md
      - SSR アプリケーション:
          - samples/dressca-cms/index.md
      - 要件別サンプル:
          - samples/requirement-based/index.md
          - Spring Batch を利用したバッチアプリケーション:
              - samples/requirement-based/spring-batch/index.md
  - AlesInfiny Maia OSS Edition について:
      - 利用規約: about-maia/terms.md
      - 商標: about-maia/trademarks.md
      - クレジット表記: about-maia/credits.md
# yamllint enable rule:comments-indentation

theme:
  name: material
  custom_dir: overrides
  favicon: assets/images/favicon.png
  features:
    - content.action.view
    - content.code.annotate
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.tracking
  font:
    text: Noto Sans JP
    code: Source Code Pro
  icon:
    repo: fontawesome/brands/github
    view: material/eye
  language: ja
  logo: assets/maia-logo.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: teal
      accent: green
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: teal
      accent: green

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - toc:
      permalink: ⚓︎
      toc_depth: 3

extra:
  footer_urls:
    terms: about-maia/terms/
    trademarks: about-maia/trademarks/
    credits: about-maia/credits/
    rss_created: feed_rss_created.xml
    rss_updated: feed_rss_updated.xml
  version: !ENV [VERSION, "Local Version"]

extra_css:
  - stylesheets/overrides.css

hooks:
  - hooks/github_markdown_fetcher.py

plugins:
  - git-revision-date-localized:
      enabled: !ENV [BUILD_DOCUMENTS, false]
      enable_creation_date: true
      timezone: Asia/Tokyo
      type: date
  - search:
      lang: ja
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
  - social:
      enabled: !ENV [BUILD_DOCUMENTS, false]
      cards_layout_options:
        font_family: Noto Sans JP
  - rss:
      enabled: !ENV [BUILD_DOCUMENTS, false]
