name: 'サンプルアプリケーションのソースコード圧縮'
description: 'サンプルアプリケーションのソースコードを圧縮します。'
inputs:
  compressed-source-path:
    description: '圧縮したソースコードを配置するフォルダのGITHUB_WORKSPACEからの相対パス'
    required: true

runs:
  using: 'composite'
  steps:
    - name: dressca.zip の作成
      shell: bash
      run: |
        cd samples/web-csr
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/dressca.zip .

    - name: azure-ad-b2c.zip の作成
      shell: bash
      run: |
        cd samples/azure-ad-b2c-sample
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/azure-ad-b2c.zip .

    - name: external-id-sample-for-spa.zip の作成
      shell: bash
      run: |
        cd samples/external-id-sample-for-spa
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/external-id-sample-for-spa.zip .

    - name: dressca-cms.zip の作成
      shell: bash
      run: |
        cd samples/dressca-cms
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/dressca-cms.zip .
