<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">  
  <th:block layout:fragment="content">
    <h1>index ページ</h1>

    <!-- パンくずリスト -->
    <nav class="col-md-10 mt-3">
      <th:block th:insert="~{fragments/breadcrumbs :: breadcrumbs}"></th:block>
    </nav>

    <br />
    <!-- ネイティブ日付ピッカーを追加 -->
    <div class="mb-3">
      <label for="nativeDate" class="form-label">日付を選択</label>
      <input type="date" id="nativeDate" name="nativeDate" class="form-control" />
    </div>

    <!-- ネイティブ日時ピッカーを追加 -->
    <div class="mb-3">
      <label for="nativeDatetime" class="form-label">日時を選択</label>
      <input type="datetime-local" id="nativeDatetime" name="nativeDatetime" class="form-control" />
    </div>

    <!-- ネイティブ時刻ピッカーを追加 -->
    <div class="mb-3">
      <label for="nativeTime" class="form-label">時刻を選択</label>
      <input type="time" id="nativeTime" name="nativeTime" class="form-control" />
    </div>

    <!-- サンプル入力フォーム -->
    <div class="mb-3">
      <label for="sampleText" class="form-label">テキストボックス</label>
      <input type="text" class="form-control" id="sampleText" name="sampleText" placeholder="テキストを入力" />
    </div>
    <div class="mb-3">
      <label for="sampleTextarea" class="form-label">テキストエリア</label>
      <textarea class="form-control" id="sampleTextarea" name="sampleTextarea" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="sampleSelect" class="form-label">ドロップダウン</label>
      <select class="form-select" id="sampleSelect" name="sampleSelect">
        <option value="" selected>選択してください</option>
        <option value="1">オプション 1</option>
        <option value="2">オプション 2</option>
        <option value="3">オプション 3</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">チェックボックス</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox1" name="checkboxGroup" value="A" />
        <label class="form-check-label" for="checkbox1">チェック A</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox2" name="checkboxGroup" value="B" />
        <label class="form-check-label" for="checkbox2">チェック B</label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">ラジオボタン</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioGroup" id="radio1" value="option1">
        <label class="form-check-label" for="radio1">ラジオ 1</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioGroup" id="radio2" value="option2">
        <label class="form-check-label" for="radio2">ラジオ 2</label>
      </div>
    </div>
  </th:block>  
</html>
