<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="block-menu">
    <div style="width:250px" class="bg-secondary py-3">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn w-100 d-flex justify-content-between align-items-center gap-3" th:onclick="location.href='/'">
            <span>
              <i class="bi bi-house"></i> ホーム
            </span>
          </button>
        </li>
        <li class="mb-1">
          <button class="btn w-100 d-flex justify-content-between align-items-center collapsed gap-3" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
            <span>
              <i class="bi bi-table"></i> マスター管理
            </span>
            <i class="bi bi-chevron-down"></i>
          </button>
          <ul class="collapse ms-4 list-unstyled fw-normal pb-1" id="dashboard-collapse">
            <li><a href="#" class="">マスター一覧</a></li>
            <li><a href="#" class="link-primary text-dark link-underline-dark">マスター登録</a></li>
            <li><a href="#" class="link-primary text-dark link-underline-dark">マスター更新</a></li>
            <li><a href="#" class="link-primary text-dark link-underline-dark">マスター削除</a></li>
          </ul>
        </li>
        <li class="mb-1">
          <button class="btn w-100 d-flex justify-content-between align-items-center collapsed gap-3" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
            <span>
              <i class="bi bi-file-text"></i> 受注管理
            </span>
            <i class="bi bi-chevron-down"></i>
          </button>
          <ul class="collapse ms-4 list-unstyled fw-normal pb-1" id="orders-collapse">
            <li><a href="#" class="link-primary">New</a></li>
            <li><a href="#" class="link-primary">Processed</a></li>
            <li><a href="#" class="link-primary">Shipped</a></li>
            <li><a href="#" class="link-primary">Returned</a></li>
          </ul>
        </li>
        <li class="mb-1">
          <button class="btn w-100 d-flex justify-content-between align-items-center collapsed gap-3" data-bs-toggle="collapse" data-bs-target="#setting-collapse" aria-expanded="true">
            <span>
              <i class="bi bi-gear"></i> 設定
            </span>
            <i class="bi bi-chevron-down"></i>
          </button>
          <ul class="collapse ms-4 list-unstyled fw-normal pb-1" id="setting-collapse">
            <li><a href="#" class="link-primary">New</a></li>
            <li><a href="#" class="link-primary">Processed</a></li>
            <li><a href="#" class="link-primary">Shipped</a></li>
            <li><a href="#" class="link-primary">Returned</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </th:block>
</html>