<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="breadcrumbs">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb text-dark fs-5">
        <li class="breadcrumb-item" aria-current="page">マスター管理</li>
        <li class="breadcrumb-item"><a href="#">マスター一覧</a></li>
        <li class="breadcrumb-item" aria-current="page">個別マスター①</li>
      </ol>
    </nav>
  </th:block>
</html>