<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="block-menu">
    <nav class="nav flex-column col-md-2 bg-secondary sidebar overflow-auto py-3">
      <a class="nav-link link-primary text-dark" th:href="@{/accordion}">
        <i class="bi bi-house"></i> ホーム
      </a>
      <a class="nav-link link-primary text-dark d-flex justify-content-between align-items-center"
         href="#submenu-dashboard"
         data-bs-toggle="collapse"
         aria-expanded="false"
         aria-controls="submenu-dashboard">
        <span><i class="bi bi-table"></i> マスター管理 </span>
        <i class="bi bi-caret-down-fill small"></i>
      </a>
      <div class="collapse ms-4" id="submenu-dashboard">
        <nav class="nav flex-column">
          <a class="nav-link link-primary text-dark py-0" th:href="@{/index}">一覧</a>
          <a class="nav-link link-primary text-dark py-0" th:href="@{/dashboard/stats}">登録</a>
        </nav>
      </div>
      <a class="nav-link link-primary text-dark" th:href="@{/table}">
        <i class="bi bi-file-text"></i> 受注管理
      </a>
      <a class="nav-link link-primary text-dark" th:href="@{/basic}">
        <i class="bi bi-gear"></i> 設定
      </a>
    </nav>
  </th:block>
</html>