<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
  <head>
    <title>システムエラー</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <!--/* メッセージ */-->
      <div class="mb-3">
        <p class="mb-4">サーバーで問題が発生しています。</p>
        <div>
          <p>現在サーバーで問題が発生しているため、このページを表示できません。</p>
          <p>しばらく時間をおいて、もう一度お試しください。</p>
          <p>それでも解決しない場合は、システム管理者に以下の情報をお知らせください。</p>
        </div>
      </div>

      <!--/* エラー情報 */-->
      <div class="mb-3">
        <div class="row">
          <div class="col-1 text-nowrap">問題の発生日時：</div>
          <div class="col-11" th:text="${occurredAt}"></div>
        </div>
        <div class="row">
          <div class="col-1 text-nowrap">エラーコード：</div>
          <div class="col-11" th:text="${errorCode}"></div>
        </div>
        <!--/* トップページに戻るリンク */-->
        <a th:href="@{/top}" class="btn btn-link">トップページに戻る</a>
      </div>
    </th:block>
  </body>
</html>
