<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
  <head>
    <title>404 Not Found</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <!--/* メッセージ */-->
      <div class="mb-3">
        <p class="mb-4">ご指定のページは見つかりませんでした。</p>
        <div>
          <p>アクセスしようとしたページは、削除・更新されたか、現在利用できない可能性があります。</p>
          <p>トップページまたはメニューから、再度お探しください。</p>
        </div>
        <!--/* トップページに戻るリンク */-->
        <a th:href="@{/top}" class="btn btn-link">トップページに戻る</a>
      </div>
    </th:block>
  </body>
</html>
