---
# cspell:ignore mikepenz dorny
name: Dressca CMSに対するプルリクエスト時の単体テスト実行

on:
  pull_request:
    branches: [main]
    paths:
      - 'samples/dressca-cms/**'
      - '.github/workflows/samples-dressca-cms-ci.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read

    steps:
      - name: ブランチのチェックアウト
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 1

      - name: JDK21のセットアップ
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165  # v5.0.0
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - name: gradlewに実行権限付与
        run: chmod +x samples/dressca-cms/gradlew

      - name: ロケールを日本語に設定
        run: |
          sudo apt-get update
          sudo apt-get install -y language-pack-ja
          sudo update-locale LANG=ja_JP.UTF-8

      - id: run-build-and-tests
        name: ビルド（コンパイル, 静的テスト, JUnit）実行
        run: ./gradlew build > build-result.txt
        working-directory: ./samples/dressca-cms
        continue-on-error: true
        env:
          LANG: ja_JP.UTF-8
          LC_ALL: ja_JP.UTF-8

      - name: ビルド（コンパイル, 静的テスト, JUnit）結果の表示
        shell: bash
        working-directory: ./samples/dressca-cms
        if: ${{ success() || (failure() && steps.run-build-and-tests.outcome == 'failure') }}
        run: |
          echo '# Build Result :gear:' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat build-result.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

      - name: ビルド（コンパイル, 静的テスト, JUnit）成功
        if: ${{ steps.run-build-and-tests.outcome == 'success' }}
        run: |
          echo '## Test Result :memo:' >> $GITHUB_STEP_SUMMARY
          echo ':heavy_check_mark: ビルドとテストに成功しました。' >> $GITHUB_STEP_SUMMARY

      - name: ビルド（コンパイル, 静的テスト, JUnit）失敗
        if: ${{ steps.run-build-and-tests.outcome == 'failure' }}
        run: |
          echo '## Test Result :memo:' >> $GITHUB_STEP_SUMMARY
          echo ':x: ビルドまたはテストに失敗しました。' >> $GITHUB_STEP_SUMMARY

      - name: JUnitレポート
        uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc  # v6.1.0
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'